html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navigation {
  background-color: #05386B;
  margin-bottom: 5rem;
}

.navbar__brand {
	color: #EDF5E1 !important;
}

.navbar__menu {
	text-transform: uppercase;
	color: #EDF5E1 !important;
}

.navbar__menu:hover {
	font-weight: bolder;
	border-bottom: 2px solid #fff;
	color: #EDF5E1 !important;
}

.banner__jumbotron {
	margin-top: 3rem;
	height: 100vh;
	text-align: center;
	background: url(/landing-bg.jpg);
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
}

.banner__avatar {
	height: 10rem;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-bottom: 2.5rem;
}

.banner__content {
	margin-top: 3rem;
}

.banner__h1 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

.banner__h2 {
	font-size: 3rem;
}

.banner__position {
	font-size: 1.25rem;
}

.banner__tagline {
	font-size: 1.5rem;
	font-style: italic;
}

.banner__tagline > strong {
	font-size: 1.5rem;
	color: #05386B !important;
}

.banner__button, .contact__button {
	background-color: #05386B;
	border: 2px solid #379683;
	border-radius: 1rem;
	font-weight: bold;
	padding: 1rem;
}

.banner__button:hover, .contact__button:hover {
	background-color: #379683;
	border: 2px solid #05386B;
	border-radius: .25rem;
}

.skill__container, .project__container, .contact__container {
	margin-bottom: 5rem;
}

.skill__section, .project__section, .contact__section {
	background-color: #379683;
	justify-content: center;
	color: #EDF5E1;
	padding: 1rem;
	margin-top: 5rem;
	margin-bottom: 1rem;
}

.skill__image {
	width: 10rem;
	margin-right: auto;
	margin-left: auto;
}

.skill__body {
	background-color: #5CDB95;
}

.project__caption {
	border-radius: 1rem;
	background-color: rgba(39, 174, 96,0.9);
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}

.project__link {
	padding: 0.5rem;
	background-color: #05386B;
	border: 2px solid #379683;
	border-radius: .5rem;
}

.project__link:hover {
	color: #fff;
	text-decoration: none;
	padding: 0.5rem;
	background-color: #379683;
	border: 2px solid #05386B;
	border-radius: .5rem;
}

.footer__container {
	background-color: #05386B;

}

.footer__section {
	margin-top: 2rem;
}

.footer__text {
	margin-top: 1rem;
	text-align: center;
	color: #EDF5E1;
	line-height: 0.5rem;
}

.footer__copyright {
	text-align: center;
	color: #EDF5E1;
}